* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
}

.container {
    background-color: beige;
    display: grid;
    grid-template-columns: 25% 75%;
}

nav {
    background-color: lightblue;
    height: 100px;
    margin-top: 20px;
}

main {
    background-color: brown;
    margin-top: 20px;
}

@media (max-width:600px) {
    .container {
        grid-template-columns: 100%;
    }

    nav {
        margin-top: 0;
    };
    
    main {
        margin-top: 0;
    }
}